@model Souccar.CodeGenerator.Models.FrontendModel
@{
    ViewData["Title"] = "Front";
}


<div class="form-group">
    <label asp-for="ModuleName">Module</label>
    <select id="moduleName" class="form-control" asp-for="ModuleName" >
        <option></option>
        @foreach(var moduleName in ModuleHelper.ModulesNames)
        {
            <option value="@moduleName">@moduleName</option>
        }
    </select>
    <span asp-validation-for="ModuleName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Entity">Entity</label>
    <select id="entity" class="form-control" asp-for="Entity">
        
    </select>
    <span asp-validation-for="Entity" class="text-danger"></span>
</div>

<div class="row">
    <div class="col-lg-12">
        <div id="fields"></div>
    </div>
</div>

@section Scripts{
    <script>
        $("#moduleName").change(function () {
            $.getJSON("@Url.Action("GetModuleEntities","Home")", { moduleName: $("#moduleName").val() }, function (data) {
                if(data.success){
                    var items = '<option></option>';
                    $("#entity").empty();
                    $.each(data.entities, function (index, entity) {
                        items += "<option value='" + entity.fullName + "'>" + entity.name + "</option>";
                    });
                    $('#entity').html(items);
                }
            });
        });
        //------
        $("#entity").change(function () {
            var url = '@Url.Action("Fields","Home")' + '?entity=' + $("#entity").val();
            $("#fields").load(url);
        });
    </script>
}
