@model Souccar.CodeGenerator.Models.FrontendModel
@{
    ViewData["Title"] = "Front";
}

<div class="row">
    <div class="form-group col-lg-4">
        <label asp-for="ModuleName">Module</label>
        <select id="moduleName" class="form-control" asp-for="ModuleName">
            <option></option>
            @foreach (var moduleName in ModuleHelper.ModulesNames)
            {
                <option value="@moduleName">@moduleName</option>
            }
        </select>
        <span asp-validation-for="ModuleName" class="text-danger"></span>
    </div>

    <div class="form-group  col-lg-4">
        <label asp-for="Entity">Entity</label>
        <select id="entity" class="form-control" asp-for="Entity">
        </select>
        <span asp-validation-for="Entity" class="text-danger"></span>
    </div>
    <div class="form-group  col-lg-4">
        <label asp-for="Page">Page</label>
        <select id="page" class="form-control" asp-for="Page">
            <option value=""></option>
            <option value="Read">Read</option>
            <option value="Read">Create</option>
            <option value="Read">Edit</option>
            <option value="Read">View</option>
            <option value="Read">Filter</option>
        </select>
        <span asp-validation-for="Entity" class="text-danger"></span>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-12">
        <div id="fields">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="tabs">
                            <li class="nav-item">
                                <a class="active nav-link active" href="#html" data-toggle="tab">HTML</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#ts" data-toggle="tab">TS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="html">
                                <pre>
                                    <code id="htmlCode"></code>
                                </pre>
                            </div>
                            <div class="tab-pane" id="ts">TS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#moduleName").change(function () {
            $.getJSON("@Url.Action("GetModuleEntities","Home")", { moduleName: $("#moduleName").val() }, function (data) {
                if (data.success) {
                    var items = '<option></option>';
                    $("#entity").empty();
                    $.each(data.entities, function (index, entity) {
                        items += "<option value='" + entity.fullName + "'>" + entity.name + "</option>";
                    });
                    $('#entity').html(items);
                }
            });
        });
        //------
        $("#entity").change(function () {
            $("#page").val("");
        });

        $("#page").change(function () {
            var url = '@Url.Action("GeneratePage","Home")' + '?entity=' + $("#entity").val() + "&page=" + $("#page").val();
            //$("#fields").load(url);
            $.getJSON(url, { moduleName: $("#moduleName").val() }, function (data) {
                if (data.success) {
                    $('#htmlCode').html(data.content);
                }
            });
        });

        $('.nav-tabs a').on('click', function (event) {
            $(this).tab('show');
        });

    </script>
}
